* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Lato, Roboto, sans-serif;
  background-color: #1b1b32;
  color: white;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  margin: 3rem 1rem;
  font-size: 1.8rem;
}

.content-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
